<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>F1 predictor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      #app {
        font-family: "Poppins", sans-serif;
        font-family: "PT Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>F1 Predictor</h1>
      <h2>Select particinpating drivers</h2>
      <small>{{ year }} grid</small>
      <br />
      <input
        type="checkbox"
        id="Verstappen"
        value="Verstappen"
        v-model="drivers"
      />
      <label for="Verstappen">Max <b>Verstappen</b></label>
      <br />
      <input type="checkbox" id="perez" value="perez" v-model="drivers" />
      <label for="perez">Sergio <b>Perez</b></label>
      <br />
      <input type="checkbox" id="alonso" value="alonso" v-model="drivers" />
      <label for="alonso">Fernando <b>Alonso</b></label>
      <br />
      <input type="checkbox" id="hamilton" value="hamilton" v-model="drivers" />
      <label for="hamilton">Lewis <b>Hamilton</b></label>
      <br />
      <input type="checkbox" id="sainz" value="sainz" v-model="drivers" />
      <label for="sainz">Carlos <b>Sainz</b></label>
      <br />
      <input type="checkbox" id="leclerc" value="leclerc" v-model="drivers" />
      <label for="leclerc">Charles <b>Leclerc</b></label>
      <br />
      <input type="checkbox" id="russell" value="russell" v-model="drivers" />
      <label for="russell">George <b>Russell</b></label>
      <br />
      <input type="checkbox" id="norris" value="norris" v-model="drivers" />
      <label for="norris">Lando <b>Norris</b></label>
      <br />
      <input type="checkbox" id="stroll" value="stroll" v-model="drivers" />
      <label for="stroll">Lance <b>Stroll</b></label>
      <br />
      <input type="checkbox" id="gasly" value="gasly" v-model="drivers" />
      <label for="gasly">Pierre <b>Gasly</b></label>
      <br />
      <input type="checkbox" id="ocon" value="ocon" v-model="drivers" />
      <label for="ocon">Esteban <b>Ocon</b></label>
      <br />
      <input type="checkbox" id="piastri" value="piastri" v-model="drivers" />
      <label for="piastri">Oscar <b>Piastri</b></label>
      <br />
      <input type="checkbox" id="albon" value="albon" v-model="drivers" />
      <label for="albon">Alexander <b>Albon</b></label>
      <br />
      <input
        type="checkbox"
        id="hulkenberg"
        value="hulkenberg"
        v-model="drivers"
      />
      <label for="hulkenberg">Nico <b>Hulkenberg</b></label>
      <br />
      <input type="checkbox" id="bottas" value="bottas" v-model="drivers" />
      <label for="bottas">Valtteri <b>Bottas</b></label>
      <br />
      <input type="checkbox" id="zhou" value="zhou" v-model="drivers" />
      <label for="zhou">Guanyu <b>Zhou</b></label>
      <br />
      <input type="checkbox" id="tsunoda" value="tsunoda" v-model="drivers" />
      <label for="tsunoda">Yuki <b>Tsunoda</b></label>
      <br />
      <input
        type="checkbox"
        id="magnussen"
        value="magnussen"
        v-model="drivers"
      />
      <label for="magnussen">Kevin <b>Magnussen</b></label>
      <br />
      <input type="checkbox" id="sargeant" value="sargeant" v-model="drivers" />
      <label for="sargeant">Logan <b>Sargeant</b></label>
      <br />
      <input type="checkbox" id="lawson" value="lawson" v-model="drivers" />
      <label for="lawson">Liam <b>Lawson</b></label>
      <br />
      <input type="checkbox" id="devries" value="devries" v-model="drivers" />
      <label for="devries">Nyck <b>de Vries</b></label>
      <br />
      <input
        type="checkbox"
        id="ricciardo"
        value="ricciardo"
        v-model="drivers"
      />
      <label for="ricciardo">Daniel <b>Ricciardo</b></label>
      <br />
      <b v-if="drivers.length > 0"
        >All particinpating drivers: {{ drivers.join(' & ') }}</b
      >
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
      const app = Vue.createApp({
        data() {
          return {
            year: new Date().getFullYear(),
            drivers: [],
          };
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
